# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [155]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import sem

In [97]:
# Study data files
mouse_metadata_path = "Pymaceuticals/data/Mouse_metadata.csv"
study_results_path = "Pymaceuticals/data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single DataFrame
complete_data = study_results.merge(mouse_metadata, on='Mouse ID', how='left')

# Display the data table for preview
complete_data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [98]:
# Checking the number of mice.study_results
complete_data.groupby('Mouse ID')['Timepoint'].count()

Mouse ID
a203    10
a251    10
a262    10
a275    10
a366     7
        ..
z435     3
z578    10
z581    10
z795    10
z969    10
Name: Timepoint, Length: 249, dtype: int64

In [101]:
df2 = complete_data[complete_data.duplicated('Mouse ID')]
df2

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
137,g989,0,45.000000,0,Propriva,Female,21,26
250,a275,5,46.795257,0,Ceftamin,Female,20,28
251,w575,5,48.913860,1,Zoniferol,Female,16,28
252,x822,5,45.671104,1,Ceftamin,Male,3,29
253,l509,5,45.851193,0,Capomulin,Male,17,21
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [105]:
dropcomplete_data = complete_data.drop_duplicates(subset=['Mouse ID'], ignore_index=True)
dropcomplete_data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [100]:
dropcomplete_data['Mouse ID'].count()

249

In [137]:
Drug_Regimen = dropcomplete_data.drop_duplicates(subset=['Drug Regimen'], ignore_index=True)
Drug_Regimen

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,f993,0,45.0,0,Naftisol,Male,21,28
3,c326,0,45.0,0,Infubinol,Female,18,25
4,f234,0,45.0,0,Stelasyn,Male,14,28
5,c458,0,45.0,0,Ramicane,Female,23,20
6,g989,0,45.0,0,Propriva,Female,21,26
7,f394,0,45.0,0,Zoniferol,Male,19,30
8,a897,0,45.0,0,Placebo,Male,7,28
9,x822,0,45.0,0,Ceftamin,Male,3,29

In [164]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.

#mean_tumor = complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].mean()
#median_tumor = complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].median()
#varince_tumor = complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].var()
#std_tumor = complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].std()
#SEM_tumor = complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].sem()

#complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].describe()
#mean, median, variance, std_dev, sem = complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].mean(), complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].median(), complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].var(),complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].std(), complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].sem()
#print("Mean:")
#print(mean)
#print("\nMedian:")
#print(median)
#print("\nVariance:")
#print(variance)
#print("\nStandard Deviation:")
#print(std_dev)
#print("\nSEM:")
#print(sem)

In [163]:
summary_df = complete_data.groupby('Drug Regimen')[['Tumor Volume (mm3)']].agg(['mean', 'median', 'var', 'std', 'sem'])

summary_df

             Tumor Volume (mm3)
                           mean     median        var       std       sem
Drug Regimen
Capomulin             40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin              52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol             52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril              55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol              54.331565  52.509285  66.173479  8.134708  0.596466
Placebo               54.033581  52.288934  61.168083  7.821003  0.581331
Propriva              52.322552  50.854632  42.351070  6.507770  0.512884
Ramicane              40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn              54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol             53.236507  51.818479  48.533355  6.966589  0.516398

In [36]:
study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]